#home {
	background: #ffc107;
	color: white;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5; 
}

footer p a {
	margin: 5px 15px;
}

h4 {
	text-align: center;
	
	padding-bottom: 10px;
	padding-top: 10px;
}